a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  color: var(--main-text-color);
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.04em;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  outline: none;
}
