:root {
  --primary-color: #d41443;
  --secondary-color: #ffa5ba;
  --third-color: #ffffff;
  --main-text-color: #907e82;
  --minor-text-color: #000000;
  --accent-first-color: #ecebeb;
  --accent-second-color: #c7133e;
  --main-background-color: #fff5f6;
}
