<section class="section section__about" id="about">
  <div class="container">
    <p class="section__pretitle about__pretitle">tradition and love</p>
    <h2 class="section__title about__title">how it’s made?</h2>
    <div class="wrap__box">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="./images/desk/howit-cow@1x.png 1x, ./images/desk/howit-cow@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/tab/howit-cow@1x.png 1x, ./images/tab/howit-cow@2x.png 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./images/mob/howit-cow@1x.png 1x, ./images/mob/howit-cow@2x.png 2x"
        />
        <img
          class="about__img"
          src="./images/mob/howit-cow@1x.png"
          alt="a jug of milk and a ladybug"
        />
      </picture>

      <div class="wrap__box-text">
        <ul class="about__list">
          <li class="about__item">
            <p class="about__text about--dark">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li class="about__item">
            <p class="about__text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
              orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a
              feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li class="about__item">
            <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
        </ul>
        <button type="button" class="about__btnn button__about" data-modal-open>
          Read more<svg class="button__arrow button__arrow--margin" width="6" height="10">
            <use href="./images/icons.svg#icon-button-arrow-1"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- modal -->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal section__about">
        <h2 class="modal__title">Ice cream with condensed milk and strawberries</h2>
        <p class="about__modal-tittle">Ingredients</p>
        <ul class="about__wrap-text">
          <li>
            <p class="about__modal-text">480 ml whipping cream;</p>
          </li>
          <li>
            <p class="about__modal-text">380 g of condensed milk;</p>
          </li>
          <li>
            <p class="about__modal-text">150-200 g strawberries.</p>
          </li>
        </ul>

        <p class="about__modal-tittle">Preparation</p>
        <ul>
          <li>
            <p class="about__modal-text">
              Beat the cold cream with a mixer until creamy. Add condensed milk and punch again
              until smooth.
            </p>
          </li>
          <li>
            <p class="about__modal-text">
              Cut the strawberries into small pieces, place in the creamy mass and stir. Place ice
              cream in a wide dish, cover with plastic wrap or a lid and place in the freezer for
              3-4 hours.
            </p>
          </li>
        </ul>
        <button type="button" class="modal__btn--close" data-modal-close>let's cook</button>
      </div>
    </div>
  </div>
</section>
