<section class="section section__advantages">
    <div class="container">
        <h2 class="visualli-hidden">
            Advantages
        </h2>
        <ul class="advantages">
            <li class="advantages__item">
                <div class="advantages__box">
                    <h3 class="advantages__title">
                        721
                    </h3>
                    <p class="advantages__text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__box">
                    <h3 class="advantages__title">
                        721
                    </h3>
                    <p class="advantages__text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__box">
                    <h3 class="advantages__title">
                        721
                    </h3>
                    <p class="advantages__text">
                        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>