<section class="section section__advantages" id="advantages">
    <div class="container">
        <h2 class="visually-hidden">
            Advantages
        </h2>
        <ul class="advantages">
            <li class="advantages__item">
                <p class="advantages__accent">
                    721
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__accent">
                    16 kg
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__accent">
                    84
                </p>
                <p class="advantages__text">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
            </li>
        </ul>
    </div>
</section>