<section class="section section__advantages" id="advantages">
    <div class="container">
        <h2 class="visually-hidden">
            Advantages
        </h2>
        <ul class="advantages">
            <li class="advantages__item">
                <p class="advantages__accent">
                    721
                </p>
                <p class="advantages__text">
                    liters of fresh milk we get every week from small farms.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__accent">
                    16 kg
                </p>
                <p class="advantages__text">
                    of selected fresh fruits are consumed every day.
                </p>
            </li>
            <li class="advantages__item">
                <p class="advantages__accent">
                    84
                </p>
                <p class="advantages__text">
                    the most delicious products are created every day for you.
                </p>
            </li>
        </ul>
    </div>
</section>