<div class="contact-map" data-contactmap>
    <button type="button" class="modal-close-btn" aria-expanded="false" data-contactmap-close>
        <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>

    <p class="section__pretitle contact-map__pretitle">Find your</p>
    <h2 class="section__title contact-map__title">Ice cream</h2>

    <iframe class="contact-map__box"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.839900157373!2d36.22785501604987!3d50.01435592657145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1a26a8a944b%3A0xacaaaa11e1830cfb!2zR29JVDog0JrRg9GA0YHRiyDQv9GA0L7Qs9GA0LDQvNC80LjRgNC-0LLQsNC90LjRjyDQsiDQpdCw0YDRjNC60L7QstC1IHwgSVQg0JrRg9GA0YHRiw!5e0!3m2!1sru!2sua!4v1637169189667!5m2!1sru!2sua"
        allowfullscreen="" loading="lazy"></iframe>

    <p class="contact-map__text">We are always glad to see you</p>

    <script src="./contact-map.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>