<section class="section" id="review">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="container customer-reviews__container">
        <ul class="single-item">
            <li class="customer-reviews__thumb">
                <picture class="customer-reviews__picture">
                    <source srcset="./images/anastasiia-1x.jpg 1x, ./images/anastasiia-2x.jpg 2x"/>
                    <img src="./images/anastasiia-1x.jpg" alt="Anastasiia Harmash" />
                </picture>
                <div class="customer-reviews__content-container">
                <div class="customer-reviews__content">
                        Wow! I never thought that ice cream could be so delicious! Guys, you have completely and irrevocably stolen my heart!
                        From this day on, I am your client forever!
                </div>
                </div>

                <div class="customer-reviews__data">
                    <p class="customer-reviews__name">Anastasiia Harmash, Kharkiv</p>
                </div>
            </li> <!--  Thumb -->
<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/oleksii@1x.jpg 1x, ./images/oleksii@2x.jpg 2x" />
        <img src="./images/oleksii@1x.jpg" alt="Oleksii" />
    </picture>
    <div class="customer-reviews__content-container">
    <div class="customer-reviews__content">
            Super! Fine! Finally, real high-quality ice cream made from the freshest milk has appeared near my house. I pamper
            myself with a small portion every evening.
    </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Alexey Kononenko, Kharkiv</p>
        
    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/anton-kit-1x.jpg 1x, ./images/anton-kit-2x.jpg 2x" />
        <img src="./images/anton-kit-1x.jpg" alt="Anton Kit" />
    </picture>
    <div class="customer-reviews__content-container">
    <div class="customer-reviews__content">
            Good ice cream for a good price. I was impressed by the large assortment. Even the most fastidious client will find
            plenty to choose from.
    </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Anton Kit, Kharkiv</p>
     </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/max-moskalik-1x.jpg 1x, ./images/max-moskalik-2x.jpg 2x" />
        <img src="./images/max-moskalik-1x.jpg" alt="Maksim Moskalik" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            The marshmallow swirls make this ice cream. This is a classic, and it’ll forever be lodged in our minds. Definitely
            recommend!
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Maxim Moskalik, Kharkiv</p>

    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/marina-balanchuk-1x.jpg 1x, ./images/marina-balanchuk-2x.jpg 2x" />
        <img src="./images/marina-balanchuk-1x.jpg" alt="Marina Balanchuk" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            I love your huge range of fruit ice cream. Mango ice cream is delightful! There should be more of it!
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Marina Balanchuk, Kharkiv</p>

    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/anton_bershak-1x.jpg 1x, ./images/anton_bershak-2x.jpg 2x" />
        <img src="./images/anton_bershak-1x.jpg" alt="Anton Bershak" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            I tried it. And then I went back and bought three more cones. I only like coffee in ice cream or brownies, and this was
            better than most coffee ice cream I've had!
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Anton Bershak, Kharkiv</p>

    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/yelizaveta_mudraya-1x.jpg 1x, ./images/yelizaveta_mudraya-2x.jpg 2x" />
        <img src="./images/yelizaveta_mudraya-1x.jpg" alt="Yelizaveta Mudraya" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            Eating ice cream makes me happy. It’s a mouth-watering dessert for everyone. Every time I come into your cafe, I can’t
            help smiling just like in my childhood.
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Yelyzaveta Mudraya, Kharkiv</p>

    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/nik_gontarenko-1x.jpg 1x, ./images/nik_gontarenko-2x.jpg 2x" />
        <img src="./images/nik_gontarenko-1x.jpg" alt="Nikolay Gontarenko" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            Whenever I eat your vanilla ice cream I feel as if I have entered heaven. It is so relaxing so soothing experience to
            enjoy it that my whole body is lost in some other world. You must try!
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Nikolay Gontarenko, Kharkiv</p>

    </div>
</li> <!--  Thumb -->

<li class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/anna_velichko-1x.jpg 1x, ./images/anna_velichko-2x.jpg  2x" />
        <img src="./images/anna_velichko-1x.jpg" alt="anna velichko" />
    </picture>
    <div class="customer-reviews__content-container">
        <div class="customer-reviews__content">
            Ice creams. They control us. They possess us. They clog our arteries and make our thighs and tummies bulge. Yet we love
            them, yet we eat them just for savouring a few moments of ecstasy.
        </div>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Anna Velichko, Kharkiv</p>
    </div>
</li> <!--  Thumb -->

           </ul> <!--Slides content-->

           <div class="arrow-prev">
            <svg class="arrow-prev__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
           </div>
        <div class="arrow-next">
            <svg class="arrow-next__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-button-arrow-1"></use>
            </svg>
        </div>

        </div>
   

</section>