<section class="section">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="container">
    <div class="customer-reviews__thumb">
        <picture class="customer-reviews__picture">
            <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x" media="(max-width: 767px)" />
            <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x" media="(min-width: 768px)" />
            <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x" media="(min-width: 1200px)" />
            <img src="./images/review1@1x.png" alt="Customer-1" />
        </picture>
        <div class="customer-reviews__content">
     <p class="customer-reviews__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.
     </p>
     </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Emily, Los Angeles</p>
        <ul class="customer-reviews__symbols">
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12.4px" height="11.84px">
                    <use href="./images/icons.svg#icon-home"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
        </ul>
    </div>
    
    </div>
    </div>

</section>