<section class="section">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="container customer-reviews__container">
        <div class="single-item">
            <div class="customer-reviews__thumb">
                <picture class="customer-reviews__picture">
                    <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x"
                        media="(max-width: 767px)" />
                    <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/review1@1x.png 1x, ./images/review1@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <img src="./images/review1@1x.png" alt="Customer-1" />
                </picture>
                <div class="customer-reviews__content">
                    <p class="customer-reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>

                <div class="customer-reviews__data">
                    <p class="customer-reviews__name">Emily, Los Angeles</p>
                    <ul class="customer-reviews__symbols">
                        <li class="customer-reviews__symbols-item customer-reviews__symbols-fill">
                            <svg class="features__icon" width="12.4px" height="11.84px">
                                <use href="./images/icons.svg#icon-home"></use>
                            </svg>
                        </li>
                        <li class="customer-reviews__symbols-item">
                            <svg class="features__icon" width="12px" height="12px">
                                <use href="./images/icons.svg#icon-ellipse"></use>
                            </svg>
                        </li>
                        <li class="customer-reviews__symbols-item">
                            <svg class="features__icon" width="12px" height="12px">
                                <use href="./images/icons.svg#icon-ellipse"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div> <!--  Thumb -->
<div class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/review2@1x.png 1x, ./images/review2@2x.png 2x" media="(max-width: 767px)" />
        <source srcset="./images/review2@1x.png 1x, ./images/review2@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./images/review2@1x.png 1x, ./images/review2@2x.png 2x" media="(min-width: 1280px)" />
        <img src="./images/review2@1x.png" alt="Customer-1" />
    </picture>
    <div class="customer-reviews__content">
        <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
            quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Emily, Los Angeles</p>
        <ul class="customer-reviews__symbols">
            <li class="customer-reviews__symbols-item customer-reviews__symbols-fill">
                <svg class="features__icon" width="12.4px" height="11.84px">
                    <use href="./images/icons.svg#icon-home"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
        </ul>
    </div>
</div> <!--  Thumb -->
<div class="customer-reviews__thumb">
    <picture class="customer-reviews__picture">
        <source srcset="./images/review3@1x.png 1x, ./images/review3@2x.png 2x" media="(max-width: 767px)" />
        <source srcset="./images/review3@1x.png 1x, ./images/review3@2x.png 2x" media="(min-width: 768px)" />
        <source srcset="./images/review3@1x.png 1x, ./images/review3@2x.png 2x" media="(min-width: 1280px)" />
        <img src="./images/review3@1x.png" alt="Customer-1" />
    </picture>
    <div class="customer-reviews__content">
        <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
            quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
    </div>

    <div class="customer-reviews__data">
        <p class="customer-reviews__name">Emily, Los Angeles</p>
        <ul class="customer-reviews__symbols">
            <li class="customer-reviews__symbols-item customer-reviews__symbols-fill">
                <svg class="features__icon" width="12.4px" height="11.84px">
                    <use href="./images/icons.svg#icon-home"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
            <li class="customer-reviews__symbols-item">
                <svg class="features__icon" width="12px" height="12px">
                    <use href="./images/icons.svg#icon-ellipse"></use>
                </svg>
            </li>
        </ul>
    </div>
</div> <!--  Thumb -->
           </div> <!--Slides content-->

           <div class="arrow-prev">
            <svg class="arrow-prev__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
           </div>
        <div class="arrow-next">
            <svg class="arrow-next__icon" width="30px" height="30px">
                <use href="./images/icons.svg#icon-button-arrow-1"></use>
            </svg>
        </div>

        </div>
   

</section>