<footer class="footer">
    <div class="container footer__contacts">
        <p class="pre-title">homemade ice cream made</p>
        <p class="title">with passion</p>
        <ul class="social-list">
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon" width="34" height="34">
                        <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a class="social-list__link" href="">
                    <svg class="social-list__icon" width="34" height="34">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__link" class="social-list__item">
                <a href="">
                    <svg class="social-list__icon" width="34" height="34">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer-tel">Feel free to contact <span class="footer-tel__red">+61 (0) 383 766 284</span></p>
    </div>
    <div class="container">
        <p class="footer-copyright">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>