<div class="franchise" data-franchise>
    <button type="button" class="modal-close-btn" aria-expanded="false" data-franchise-close>
        <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>

    <p class="section__pretitle franchise__pretitle">Join us</p>
    <h2 class="section__title franchise__title">Big Family</h2>


    <img class="franchise__img" src="./images/toretto@x1.png" alt="Торетто ждет" />

    <p class="franchise__text">There's nothing stronger than family.</p>

    <form action="" class="franchise__form">
        <label for="" class="franchise__label">
            <input type="email" name="email" id="" placeholder="E-mail" class="franchise__input">
        </label>
        <button type="submit" class="button__contacts franchise__button">Join Us
        </button>

    </form>


    <script src="./franchise.js"></script>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>