<button type="button" class="mobile-menu-btn mobile-menu-btn--red" aria-expanded="false" data-mobilemenu-open>
    <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
        <use href="./images/icons.svg#icon-burger"></use>
    </svg>
</button>


<div class="mobile-menu" data-mobilemenu>
    <button type="button" class="mobile-menu-btn" aria-expanded="false" data-mobilemenu-close>
        <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <div class="buy-now">
        <button type="button" class="buy-now__button">
            Buy now
        </button>

    </div>
    <nav>
        <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--current" href="./">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="">Contact</a>
            </li>
        </ul>
    </nav>
</div>

<script src="./mobile-menu.js"></script>