 <div class="container header__container">
        <nav class="nav">
            <a href="./index.html" class="logo">
                <picture>
                        <source srcset="./images/header-logo@1x.png 1x,
                        ./images/header-logo@2x.png 2x" media="(min-width: 320px)" />
                    <img src="./images/header-logo@1x.png" alt="logo">
                </picture>
            </a>
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link nav__link--current">Home</a></li>
                <li class="nav__item"><a href="" class="nav__link ">About us</a></li>
                <li class="nav__item"><a href="" class="nav__link ">How it's made?</a></li>
                <li class="nav__item"><a href="" class="nav__link ">Our products</a></li>
                <li class="nav__item"><a href="" class="nav__link ">Contacts</a></li>
            </ul>
            <button aria-expanded="false" aria-controls="mobile" type="button"
                class="mobile__button--open" data-mobilemenu-open>
                <svg height="12px" width="20px">
                    <use href="./images/icons.svg#icon-burger"></use>
                </svg>
            </button>
            <button  type="button" name="button" class="header__button">Buy now</button>
        </nav>
    </div>