<!-- <button type="button" class="mobile-menu-btn mobile-menu-btn--red" aria-expanded="false" data-mobilemenu-open>
    <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
        <use href="./images/icons.svg#icon-burger"></use>
    </svg>
</button> -->


<div class="mobile-menu" data-mobilemenu>
    <button type="button" class="modal-close-btn" aria-expanded="false" data-mobilemenu-close>
        <svg class="mobile-menu-btn__icon" width="14px" height="14px" aria-label="Кнопка мобильного меню">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>

    <button class="button buy-now" type="button">Buy now<svg class="button__arrow button__arrow--margin" width="4"
            height="8">
            <use href="./images/icons.svg#icon-button-arrow-1"></use>
        </svg>
    </button>

    <nav>
        <ul class="mobile-menu__list" data-mobilemenu-list>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--current" href="./#hero">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./#about">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./#advantages">Advantages</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./#products">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link" href="./#contacts">Contact</a>
            </li>
        </ul>
    </nav>
</div>

<script src="./mobile-menu.js"></script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>