<section class="hero" id="hero">
    <div class="container">
                <div class="hero__circle"></div>
                                <picture>
                                    <source srcset="./images/desk/hero-icecream@1x.png 1x,
                                                                            ./images/desk/hero-icecream@2x.png 2x" media="(min-width: 1200px)" />
                                    <source srcset="./images/tab/hero-icecream@1x.png 1x,
                                                                            ./images/tab/hero-icecream@2x.png 2x" media="(min-width: 768px)" />
                                    <source srcset="./images/mob/slider-pic7@1x.png 1x,
                                                                                    ./images/mob/slider-pic7@2x.png 2x" media="(max-width: 767px)" />
                                    <img class="hero__picture" src="./images/tab/hero-icecream@1x.png" alt="ice-cream" width="170px" height="410px">
                                </picture>
        <div class="hero__panel">
        <h1 class="hero__title">
            ICE CREAM MADE WITH
            <span class="hero__title--second">PASSION</span>
        </h1>
        <button type="button" name="button" class="hero__button">are you botton?</button>
        <button type="button" name="button" class="hero__button">Yes, I am</button>
        </div>
        <div class="hero__container">
            <picture>
            <source srcset="./images/desk/hero-milk@1x.png 1x,
                            ./images/desk/hero-milk@2x.png 2x" media="(min-width: 1200px)" />
            <source srcset="./images/tab/hero-milk@1x.png 1x,
                            ./images/tab/hero-milk@2x.png 2x" media="(min-width: 768px)" />
            <img src="./images/tab/hero-milk@1x.png" alt="milk">
            </picture>
            <div class="hero__thumb"></div>
            <p class="hero__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" name="button" class="hero__button">Products</button>
            </div>
        </div>
        <ul class="hero__list">
            <li class="hero__item"> 16 <span class="hero__item--second">cafe</span></li>
            <li class="hero__item"> 23 <span class="hero__item--second">food truck</span></li>
        </ul>
    </div>
</section>
 
