<section class="section section__products" id="products">
  <div class="container">
    <p class="section__pretitle products__pretitle">100% natural</p>
    <h2 class="section__title products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <div class="products-list__thumb products-list__thumb--pink" id="div">
          <h3 class="products-list__title">ice cream</h3>
          <p class="products-list__text">
            An indulgence of the real dairy Ice cream and various fresh fruits make our ice cream an ice cream like no others.
            The sweetness of fruits complements the richness of the real cream and dairy ice cream to create a truly heavenly ice
            cream treat.
          </p>
          <button class="button__products" type="button" id="btn">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
        <div class="products-list__card products-list__card--pink" id="test">
          <p class="products-card__title">Ingredients</p>
          <ul class="products__card">
            <li class="products__card">½ cup cold milk</li>
            <li class="products__card">1 tablespoon vanilla extract</li>
            <li class="products__card">1 (14 ounce) can sweetened condensed milk</li>
            <li class="products__card">⅛ teaspoon salt</li>
            <li class="products__card">1 pint heavy cream</li>
          </ul>
          <button class="button__products" type="button" id="btncl">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb products-list__thumb--coffee" id="div1">
          <h3 class="products-list__title">ice coffee</h3>
          <p class="products-list__text">
            Rich and creamy, with a little hint of chocolate flavor, this ice coffee makes the perfect sweet afternoon pick-me-up.
            If you’ve ever sipped a mocha and thought I wonder what would happen if I added ice cream to this, one, we like the way
            you think, and two, we have one for you.
          </p>
          <button class="button__products" type="button" id="btn1">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
        <div class="products-list__card products-list__card--coffee" id="test1">
          <p class="products-card__title">Ingredients</p>
          <ul class="products__card">
            <li class="products__card">Double espresso (or a very short, strong coffee from your usual method!)</li>
            <li class="products__card">Semi skimmed milk (or your preference)</li>
            <li class="products__card">Ice</li>
            <li class="products__card">Demerara sugar</li>
          </ul>
          <button class="button__products" type="button" id="btncl1">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item">
        <div class="products-list__thumb products-list__thumb--green" id="div2">
          <h3 class="products-list__title">milkshakes</h3>
          <p class="products-list__text">
            This chocolate milkshake will cool you down and give you the burst of energy you're craving on a warm summer day.
            Top with whipped cream and toasted coconut with chocolate flakes and marshmellow for a frozen treat that will remind you
            of the drink you know and love.
          </p>
          <button class="button__products" type="button" id="btn2">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
        <div class="products-list__card products-list__card--green" id="test2">
          <p class="products-card__title">Ingredients</p>
          <ul class="products__card">
            <li class="products__card">⅔ cup milk</li>
            <li class="products__card">2 cups ice cream use chocolate ice cream</li>
            <li class="products__card">3 tablespoons chocolate syrup</li>
            <li class="products__card">whipped cream for topping optional</li>
          </ul>
          <button class="button__products" type="button" id="btncl2">
            <svg class="button__arrow" width="10" height="10">
              <use href="./images/icons.svg#icon-button-arrow-2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
