// button Header + Menu

.button {
  width: 209px;
  padding: 12px 0;
  align-items: baseline;

  @include font($fw: 700, $fz: 16px, $lh: 21px, $ls: 0.04em, $tt: none);

  color: var(--primary-color);

  cursor: pointer;
  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--third-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.button--width {
  width: 160px;
}

.button__arrow {
  fill: var(--primary-color);
}

.button__arrow--margin {
  margin-left: 22px;
  @media screen and (min-width: 768px) {
    margin-left: 20px;
  }
}

// button HERO

.hero__button {
  display: inline-block;
  width: 63px;
  padding: 7px 0;
  margin-right: 8px;

  @include font($fw: 500, $fz: 8px, $lh: 10px, $ls: 0.04em, $tt: none);

  align-items: center;
  text-align: center;
  color: var(--third-color);

  cursor: pointer;
  border-radius: 20px;
  border: 0px solid transparent;
  background-color: var(--primary-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 1280px) {
    width: 102px;
    padding: 11px 0;
    @include font($fw: 500, $fz: 14px, $lh: 18px, $ls: 0.04em, $tt: none);
  }
}

.hero__button--left {
  width: 83px;
  padding: 7px 0;

  align-items: center;
  text-align: center;

  @include font($fw: 500, $fz: 8px, $lh: 10px, $ls: 0.04em, $tt: none);

  color: var(--primary-color);

  cursor: pointer;
  border-radius: 20px;
  border: 0px solid transparent;
  background-color: var(--third-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 1280px) {
    width: 138px;
    padding: 11px 0;
    @include font($fw: 500, $fz: 14px, $lh: 18px, $ls: 0.04em, $tt: none);
  }
}

// button HERO > Milk

.button__hero-milk {
  display: block;
  width: 18px;
  height: 18px;

  cursor: pointer;
  border-radius: 50px;
  border: 0px solid transparent;
  background-color: var(--third-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.button__hero-milk-arrow {
  display: flex;
  margin: auto;

  align-items: center;
  text-align: center;
  fill: var(--primary-color);
}

//button Products

.button__products {
  display: block;
  width: 40px;
  height: 40px;

  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
  border-radius: 50px;
  border: 0px solid transparent;
  background-color: var(--third-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

// button About

.button__about {
  display: inline-block;

  padding: 10px 0;
  width: 176px;
  text-align: center;
  align-items: baseline;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-color);

  cursor: pointer;

  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--third-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

// button Contacts

.button__contacts {
  display: inline-block;
  padding: 14px 17px;
  width: 162px;

  text-align: center;
  align-items: baseline;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  cursor: pointer;
  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--primary-color);
  color: var(--third-color);
  & .button__arrow {
    fill: var(--third-color);
  }
  & .button__arrow--margin {
    margin-left: 11px;
  }

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (min-width: 768px) {
    width: 192px;
  }
  @media screen and (min-width: 1280px) {
    width: 198px;
  }
}
.button__contacts--white {
  color: var(--primary-color);
  background-color: var(--third-color);

  & .button__arrow {
    fill: var(--primary-color);
  }
  & .button__arrow--margin {
    margin-left: 15px;
  }
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 768px) {
    width: 174px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
  }
}
