// button Header

.button {
  display: inline-block;
  width: 160px;
  padding: 12px 0;
  align-items: baseline;
  height: 44px;

  @include font($fw: 700, $fz: 16px, $lh: 21px, $ls: 0.04em, $tt: none);

  text-align: center;
  color: var(--primary-color);

  cursor: pointer;
  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--third-color);
  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.button__arrow {
  fill: var(--primary-color);
}

.button__arrow--margin {
  margin-left: 22px;
}

// button HERO

.hero__button {
  display: inline-block;
  width: 63px;
  padding: 7px 0;
  margin-right: 8px;

  @include font($fw: 500, $fz: 8px, $lh: 10px, $ls: 0.04em, $tt: none);

  align-items: center;
  text-align: center;
  color: var(--third-color);

  border-radius: 20px;
  border: 0px solid transparent;
  background-color: var(--primary-color);
}

.hero__button--left {
  width: 83px;
  padding: 7px 0;

  align-items: center;
  text-align: center;

  @include font($fw: 500, $fz: 8px, $lh: 10px, $ls: 0.04em, $tt: none);

  color: var(--primary-color);

  border-radius: 20px;
  border: 0px solid transparent;
  background-color: var(--third-color);
}

//button Products

.button__products {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: 0px solid transparent;
  background-color: var(--third-color);
}

// button About

.button__about {
  display: inline-block;

  padding: 10px 0;
  width: 176px;
  text-align: center;
  align-items: baseline;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-color);

  cursor: pointer;

  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--third-color);
  &:hover,
  &:active,
  &:focus {
    background: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

// button Contacts

.button__contacts {
  display: inline-block;
  padding: 14px 17px;
  width: 162px;
  text-align: center;
  align-items: baseline;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  border-radius: 22px;
  border: 0px solid transparent;
  background-color: var(--primary-color);
  color: var(--third-color);
  & .button__arrow {
    fill: var(--third-color);
  }
  & .button__arrow--margin {
    margin-left: 11px;
  }
  &:hover,
  &:active,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.button__contacts--white {
  color: var(--primary-color);
  background-color: var(--third-color);
  & .button__arrow {
    fill: var(--primary-color);
  }
  & .button__arrow--margin {
    margin-left: 15px;
  }
}
