.contact-map {
  display: block;
  z-index: 999;
  position: fixed;
  padding: 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    border-radius: 22px;
  }

  background-color: var(--menu-background-color);
  transform: translateY(150%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    transform: translateY(0%);
  }
}

.contact-map__box {
  display: block;
  width: 100%;
  border-radius: 22px;
  height: calc(100% - 125px);
  border: 0;
  @media screen and (min-width: 768px) {
  }
}

.contact-map__pretitle {
  text-align: left;
  color: var(--third-color);
}

.contact-map__title {
  margin-bottom: 15px;
  text-align: left;
}

.contact-map__text {
  margin-top: 15px;
  display: block;
  @include font(700, 14px, 21px, 0.04em);
  color: var(--third-color);
  text-align: center;
}
