.section__about {
  background-color: var(--main-background-color);

  @media screen and (max-width: 767px) {
    background-image: url('../images/mob/howit-bkg@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 83%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/mob/howit-bkg@2x.png');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/desk/howit-bkg@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/desk/howit-bkg@2x.png');
    }
  }
}

.about__pretitle {
  font-family: Titan One, sans-serif;
  @include font($fw: 400, $fz: 18px, $lh: 21px, $ls: 0.04em, $tt: uppercase);
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    @include font($fw: 400, $fz: 26px, $lh: 30px, $ls: 0.04em, $tt: uppercase);
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 400, $fz: 30px, $lh: 34px, $ls: 0.04em, $tt: uppercase);
  }
}

.about__title {
  font-family: Titan One, sans-serif;
  text-align: center;
  color: var(--primary-color);
  @include font($fw: 500, $fz: 34px, $lh: 39px, $ls: 0.04em, $tt: uppercase);
  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fz: 48px, $lh: 55px, $ls: 0.04em, $tt: uppercase);
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fz: 58px, $lh: 55px, $ls: 0.04em, $tt: uppercase);
    margin-bottom: 55px;
  }
}

.wrap__box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__img {
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
}

.wrap__box-text {
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
}

// .about__list {
//   // @media screen and (max-width: 767px) {
//   //   background-image: url('../images/mob/howit-bkg@1x.png');
//   //   background-size: contain;
//   //   background-repeat: no-repeat;
//   //   background-position: 50% 50%;
//   //   @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
//   //     background-image: url('../images/mob/howit-bkg@2x.png');
//   //   }
//   // }
// }

.about__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    @include centred();
  }
}

.about__text {
  @include font($fw: 500, $fz: 12px, $lh: 19px);
  @media screen and (max-width: 767px) {
    width: 240px;
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fz: 14px, $lh: 25px);
    width: 350px;
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fz: 14px, $lh: 27px);
    width: 460px;
  }
}
.about--dark {
  color: #000;
}

.about__btnn {
  height: 44px;
  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}

// modal

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  width: 450px;
  min-height: 440px;
  background-image: url('../images/desk/products-cream@1x.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 90% 40%;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  padding: 20px 30px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/desk/products-cream@2x.png');
  }
  @media screen and (min-width: 768px) {
    width: 650px;
    min-height: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 650px;
    min-height: 450px;
  }
}

.modal__btn--close {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  border-radius: 11px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--accent-first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary-color);
  }
}
.modal__title {
  text-align: center;
  font-family: Titan One, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.15;
  color: var(--primary-color);
  margin-bottom: 60px;
}

.about__modal-tittle {
  font-family: Titan One, sans-serif;

  color: var(--primary-color);
  @include font($fw: 500, $fz: 20px, $lh: 20px, $ls: 0.04em, $tt: uppercase);
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 500, $fz: 20px, $lh: 20px, $ls: 0.04em, $tt: uppercase);
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 500, $fz: 20px, $lh: 20px, $ls: 0.04em, $tt: uppercase);
  }
}

.about__wrap-text {
  margin-bottom: 20px;
  padding-left: 20px;
}
.about__wrap-text li {
  list-style-type: disc;
  color: var(--primary-color);
}
.about__modal-text {
  color: #000;
  @include font($fw: 700, $fz: 12px, $lh: 19px);
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    @include font($fw: 700, $fz: 14px, $lh: 25px);
  }
  @media screen and (min-width: 1280px) {
    @include font($fw: 700, $fz: 14px, $lh: 27px);
  }
}
