.section__advantages {
  background-color: var(--main-background-color);
}
.advantages__item {
  margin-right: 50px;
  margin-bottom: 38px;

  &:last-child {
    margin-bottom: 0;
  }
}
.advantages__title {
  margin-bottom: 24px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  color: var(--minor-text-color);
}
