.section__advantages {
  background-color: $main-background-color;
}
.advantages {
}

.advantages__item {
}
.advantages__box {
}
.advantages__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-color;
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  color: $minor-text-color;
}
