.hero {
  position: relative;
  width: 100%;
  height: 502px;
  background-color: #ffb8ca;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}
.hero__block {
  position: relative;
  width: 100%;
  height: 502px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    height: 399px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 665px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
.hero__girl {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    left: 566px;
    width: 168px;
    height: 133px;
  }
  @media screen and (min-width: 1280px) {
    left: 878px;
    width: 293px;
    height: 232px;
  }
}
.hero__picture {
  position: absolute;
  bottom: 0;
  z-index: auto;
  @media screen and (max-width: 767px) {
    left: 117px;
  }
  @media screen and (min-width: 768px) {
    left: 378px;
    width: 143px;
    height: 336px;
  }
  @media screen and (min-width: 1280px) {
    left: 594px;
    width: 236px;
    height: 557px;
  }
}
.hero__circle {
  position: absolute;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  top: 83px;
  background: var(--secondary-color);
  overflow: hidden;
  z-index: auto;
  animation-name: 'pulse_animation';
  animation-duration: 500ms;
  transform-origin: 70% 70%;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation: pulsate 3s ease-out;
  animation-iteration-count: 3;
  @keyframes pulsate {
    0% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
  }
  @keyframes pulse_animation {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }

  @media screen and (max-width: 767px) {
    width: 346px;
    height: 344px;
    left: 36px;
    top: 83px;
  }
  @media screen and (min-width: 768px) {
    width: 324px;
    height: 322px;
    left: 307px;
    top: 31px;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    left: 475px;
    top: 52px;
  }
}

.hero__panel {
  position: absolute;
  top: 193px;
  z-index: auto;
  width: 218px;
  @media screen and (min-width: 768px) {
    top: 112px;
    width: 163px;
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    width: 277px;
  }
}
.hero__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--third-color);

  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 38px;
  }
}

.hero__title--second {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: var(--primary-color);
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero__button:not(:last-child) {
  @media screen and (min-width: 1280px) {
    margin-right: 20px;
  }
}

.hero__container {
  position: absolute;
  bottom: 28px;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    bottom: 45px;
  }
}
.hero__thumb {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 114px;
  @media screen and (min-width: 1280px) {
    width: 200px;
  }
}
.hero__text {
  font-size: 8px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--third-color);
  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.hero__list {
  position: absolute;
  top: 94px;
  width: 51px;
  right: 34px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    top: 156px;
    width: 77px;
    right: 115px;
  }
}

.hero__item {
  position: relative;
  margin-bottom: 13px;
  &:last-child {
    margin-bottom: 0;
  }
}
.hero__item::before {
  content: '';
  position: absolute;
  z-index: auto;
  top: -9%;
  right: -15%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--third-color);
  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.hero__item--number {
  position: relative;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-color);
  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }
}
.hero__item--text {
  display: block;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  letter-spacing: 0;
  color: var(--third-color);
  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}
