.section__pretitle {
  font-family: Titan One;
  @include font(400, 18px, 21px, 0.04em, uppercase);
  color: var(--secondary-color);
  text-align: center;
}

.section__title {
  font-family: Titan One;
  @include font(400, 34px, 39px, 0.04em, uppercase);
  color: var(--primary-color);
  text-align: center;
}
.section__pretitle--margin {
  margin-bottom: 15px;
}
.section__title--margin {
  margin-bottom: 144px;
}
.products__thumb {
  position: relative;
  padding-bottom: 41px;
  padding-top: 161px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 24px;
}

.products__thumb--pink {
  background-color: #ffb8ca;
}
.products__thumb--coffee {
  background-color: #f0d1a5;
}
.products__thumb--green {
  background-color: #c2e297;
}
.products__title {
  margin-bottom: 66px;
  font-family: Titan One;
  @include font(400, 20px, 23px, 0.04em, uppercase);
  color: var(--third-color);
  text-align: center;
}
.products__text {
  margin-bottom: 30px;
  @include font(700, 14px, 21px, 0.04em);
  color: var(--third-color);
  text-align: center;
  &::before {
    content: '•••';
    display: block;
    font-size: 20px;
    transform: translateY(-30px);
  }
}
.products__thumb--pink::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 50%;
  width: 249px;
  height: 252px;
  background-size: 249px 252px;
  transform: translate(-50%) scale(1);
  background-image: url('../images/mob/products-cream@1x.png');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('../images/mob/products-cream@2x.png');
    }
  }
}
.products__thumb--coffee::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 50%;
  width: 249px;
  height: 252px;
  background-size: 249px 252px;
  transform: translate(-50%) scale(1);
  background-image: url('../images/mob/products-coffee@1x.png');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('../images/mob/products-coffee@2x.png');
    }
  }
}
.products__thumb--green::before {
  content: '';
  position: absolute;
  top: -113px;
  left: 50%;
  width: 249px;
  height: 252px;
  background-size: 249px 252px;
  transform: translate(-50%) scale(1);
  background-image: url('../images/mob/products-milk@1x-2.png');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url('../images/mob/products-milk@2x-2.png');
    }
  }
}

.products__button {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}
.products__item {
  margin-bottom: 130px;
  &:last-child {
    margin-bottom: 0;
  }
}
